.mainTitle {

    text-align: center;
    
}
.title {
    align-items: center;
    display: flex;
    justify-content: center;
}
.flex {
    display: flex;
    border: 10px solid black;
    flex-direction: column;
    width: 500px;
    background-color: aliceblue;
}
.menucontainer {

    background-image: url(../images/background.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    
}
.foodimg {
    width: 75%;
    height: 75%;
    padding-bottom: 50px;
}
.foodtitle{
    font-size: 50px;
    text-align: center;
}
.fooddescription {
    font-size: 18px;
}
.foodprice {
    font-size: 18px;
    border: 2px dotted black;
}
.button1 {
    padding: 10px;
}
.button2 {
    padding: 10px;
}
.button3 {
    padding: 10px;
}
html body{
    background-image: repeating-linear-gradient(lightblue,green);
    background-repeat: no-repeat;
    height: 100%;
}
html {
    background-color: black;
}
.image {
    width: 50%;
    
}
.buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.headcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactimage{
    border-radius: 50%;
    width: 20%;
    padding-top: 25px;
}
.hours{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 40px;
    font-size: 24px;
}
.chefdisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    padding-top: 10px
    
}
.chefimg {
    
    width: 90%;
    
}
.chefname {
    font-size: 28px;
    text-align: center;
}
.cheffavorite {
    font-size: 18px;
    text-align: left;
}
.infobox {
    padding: 0px 20px;
}
.chefcontainer {
    background-color: gray;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 10%;
    padding: 20px;
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}